{%extends 'base.html'%}

{%block content%}
<div class="container">
    
    <div class="row">
        <div class="col-md-12">
            <div class="btn-group" role="group"  aria-label="Basic example" >
                <a href=""  class="btn btn-primary"> MATH </a>
                <a href=""  class="btn btn-primary"> SCIENCE </a>
                <a href=""  class="btn btn-primary"> BIOLOGY </a>
                <a href=""  class="btn btn-primary"> PROGRAMMING </a>
                <a href=""  class="btn btn-primary"> SOCIAL </a>
                <a href=""  class="btn btn-primary"> TRIAL </a>
                <a href=""  class="btn btn-primary"> MATH </a>
                <a href=""  class="btn btn-primary"> SCIENCE </a>
                <a href=""  class="btn btn-primary"> BIOLOGY </a>
                <a href=""  class="btn btn-primary"> PROGRAMMING </a>
                <a href=""  class="btn btn-primary"> SOCIAL </a>
                
             
            </div>
         </div>
  </div>
  <!-- <a href=""  class="btn btn-primary"> TRIAL </a> -->
</div>
    
  
<div class="row">
    {%for item in all_cards%}
    <div class="col-md-3"  style="padding-top: 10px;">
        <div class="card border-success " >
            <div class="card-header">{{item.subject}}</div>
            <div class="card-body">
              <h4 class="card-title">{{item.title}}</h4>
              <p class="card-text">{{item.body}}</p>
            </div>
            <div>
                <a href=""  class="btn btn-danger" style="width: 65px;"> <span style="font-size: 10px; float: left; ">DELETE</span> </a>
                <a href=""  class="btn btn-primary" style="width: 65px;"> <span style="font-size: 10px; float: right; ">DELETE</span> </a>   
            </div>
            
            <div class="card-footer text-muted">
                {{item.pub_date}}
              </div>
           
          </div>
    </div>
    {%endfor%}
    

  

{%endblock%}