<!DOCTYPE html>

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarColor03">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Features</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'newsubject' %}"  class="btn btn-danger"> NEW SUBJECT </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
          </ul>
          <!-- -------------------------------------------------------------------------------------------- -->
          {% if user.is_authenticated %}
          <div class="container">
            <div class="dropdown navbar-right">
              <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Account
              </button>
              <div class="dropdown-menu">
                <a href="{%url 'index'">Home</a><br>
                <!-- <a href="{%url 'profileview' user_id=user.id">View Profile</a><br> -->
                <a href="{% url 'new_card' ">Add a Card</a><br>
                <a href="/admin/">Admin Dashboard</a><br>
                <a href="/logout">Logout</a>
              </div>
            </div>
          </div>
          {% else %}
        <li>
          <a class='btn btn-primary' href="/accounts/login">Login</a>
        </li>
        {% endif %}
          <!-- -------------------------------------------------------------------------------------------- -->
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search">
            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
        
      </nav>
        
        <script src="" async defer></script>
    </body>
</html>