{%extends 'base.html'%}
{% load bootstrap4 %}
{%load static%} 
{%block content%}
{{block.super}}
<div class="" style="color: black;">


<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="{{profile.profile_pic.url}}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{profile.user.username}}</h5>
      <p class="card-text">{{profile.bio}}</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">You have created {{prof}} subjects.</li>
      <li class="list-group-item">You have created {{prof}} Flash cards.</li>
      <li class="list-group-item">Vestibulum at eros</li>
    </ul>
    <div class="card-body">
      <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a>
    </div>
  </div>

  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"> Settings for Profile</button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Settings</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form method = "post" enctype="multipart/form-data"> 
                {% csrf_token %} 
                {% bootstrap_form profiledform%}
                <input type="submit" class="btn btn-success btn-lg" value="Post"> 
            </form> 
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
</div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
{%endblock%}



   